body{
    padding-top: 20px;
    background-color: lightsteelblue;
}

.nav-justified{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid grey;
   
}

.nav-justified > li >a{
    padding: 15px 0;
    text-align: center;
    color: darkcyan;
    background-color: pink;
}
.green{
    color: darkcyan;
}
.jumbotron{
    text-align: center;
    background-color: lightsteelblue;
}

.text-muted{
    color: rgb(51,51,51);
    
    
}
.jumbotron >p{
    color: black;
}
